body {
    background-color: #333;
}

#navbar {
    background-color: #d52e18;
    overflow: hidden;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 20px; /* Increased padding */
    border-radius: 20px;
}

#logo {
    font-size: 24px; /* Increased font size */
    color: white;
    text-decoration: none;
    font-family: "Roboto Condensed-Regular", Helvetica;
}

#navbar-right {
    font-family: "Roboto Condensed-Regular", Helvetica;
}

.bignavbutton {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    font-size: 20px; /* Increased font size */
}

#search-bar-container {
    flex-grow: 1;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

#search-bar {
    width: 100%;
    max-width: 300px; 
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

#search-button {
    padding: 8px 16px;
    margin-left: 8px; 
    border: none;
    border-radius: 4px;
    background-color: #f68224; 
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#search-button:hover {
    background-color: #fa7000; 
}

#tag-clouds {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the tag clouds horizontally */
    padding: 10px 20px; /* Adjust padding as needed */
}

.tag {
    background-color: #d52e18;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    margin: 5px;
    text-decoration: none;
    cursor: pointer;
}

.tag:hover {
    background-color: #bd0505;
    color: #fff;
}

#tag-clouds .tag.selected{
    background-color: #fa7000;
}

* {box-sizing:border-box}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust min and max width as needed */
    grid-gap: 50px; /* Adjust the gap between cards */
    grid-auto-rows: auto;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
    background-color: #bd0505;
}

.card-image {
    width: 100%; /* Ensure the image fills its container */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-content {
    padding: 20px;
}

/* Center the sign-up box */
.center-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
}

/* Box container styles */
.box-container {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3); /* Box shadow */
    max-width: 400px; /* Adjust as needed */
    width: 100%;
}

/* Style the login background */
.login-background {
    background-color: #f0f0f0; /* Background color */
    border-radius: 10px; /* Rounded corners */
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3); /* Box shadow */
    width: 100%;
    text-align: center; /* Center text */
}

/* Center the sign-up box */
.center-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Adjust as needed */
}


#navbar-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.background-image-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('test.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 0.5; /* Adjust opacity to make the image faded */
}
